@import "tailwindcss";

:root {
  /* Colores principales */
  --color-primary: #494b32;
  --color-secondary: #26271d;
  --color-tertiary: #40422c;
  --color-quatertiary: #373829;

  --extra-color-primary: #fff;
  --extra-color-primary-alt: #000;
  --extra-color-secondary: #c2c5a9;

  /* Color complementario */
  --color-complementary: #ff8800;
  --color-complementary-hover: #b65e00;

  --footer-border-color: var(--extra-color-primary);
  --color-user-panel: var(--extra-color-primary);

  /* Fondos */
  --color-background: var(--color-tertiary);
  --color-background-linear-start: var(--color-quatertiary);
  --color-background-linear-end: var(--color-secondary);

  --user-panel-leftbar-background: var(--color-secondary);
  --user-panel-leftbar-scroll-color: var(--color-tertiary);

  --user-panel-profile-background: #13130e;
  --user-panel-profile-image-background: var(--extra-color-primary);

  /* --color-background-transparent: rgba(30, 30, 30, 0.5); */
  --color-background-transparent: #40422c7a;

  /* Card Plans colors */

  --complete-plan-card-color: #00ff6a;
  --pro-plan-card-color: #6600ff;

  /* Botones */
  --button-bg-color: #26271d;
  --button-icon-color: var(--extra-color-primary);

  --button-bg-hover: var(--color-primary);
  --button-icon-hover: var(--color-quatertiary);

  --button-bg-active: var(--extra-color-primary);
  --button-icon-active: var(--color-quatertiary);

  /* Inputs */

  --input-font-color: #26271d;

  --focus-input-color: #1c1c1c;
  --enabled-input-bg-color: #dee1e2;
  --disabled-input-bg-color: #363636;

  --outline-line-color: #131313;

  /* Texto e íconos */
  --icon-color: #ffffff;
  --font-color: #ffffff;

  --color-et: #bfc787;
  --color-armada: #8da4ea;
  --color-imt: #2649b1;
  --color-ea: #ffa093;

  /* Widgets */

  --background-color-widget: #26271d;
  --custom-sim-color: #757575;

  /* Calendar Schedule Card - Tarjetas */

  --bg-clase-obligatoria: #860000;
  --color-clase-obligatoria: var(--extra-color-primary);

  --bg-clase-repaso: #fff;
  --color-clase-repaso: var(--extra-color-primary-alt);

  --bg-ori-et: var(--color-et);
  --color-ori-et: var(--extra-color-primary-alt);

  --bg-ori-ea: var(--color-ea);
  --color-ori-ea: var(--extra-color-primary-alt);

  --bg-ori-armada: var(--color-armada);
  --color-ori-armada: var(--extra-color-primary);

  --bg-ori-imt: var(--color-imt);
  --color-ori-imt: var(--extra-color-primary);

  --bg-debate: #025a26;
  --color-debate: var(--extra-color-primary);

  --bg-intensivo: #eddb0d;
  --color-intensivo: var(--extra-color-primary);

  --bg-entrevista: #8111dd;
  --color-entrevista: var(--extra-color-primary-alt);

  --bg-repaso-simulacro: #00ff6a;
  --color-repaso-simulacro: var(--extra-color-primary-alt);

  --bg-default: var(--extra-color-primary);
  --color-default: var(--extra-color-primary);

  /* Font Family */

  --important-text-ff: "Quantico";
  --decorative-text-ff: "League Spartan";
  --normal-text-ff: "Noto Sans";

  --type-1-ff: var(--important-text-ff), sans-serif;
  --type-2-ff: var(--decorative-text-ff), var(--normal-text-ff), sans-serif;
  --type-3-ff: var(--important-text-ff), var(--normal-text-ff), sans-serif;

  /* Color aptitudes */

  --verbal-aptitude-color: #4e59d4;
  --espacial-aptitude-color: #cfc445;
  --percepcion-aptitude-color: #91d26e;
  --numerico-aptitude-color: #b44435;
  --mecanico-aptitude-color: #696969;
  --memoria-aptitude-color: #9b6ed2;
  --abstracto-aptitude-color: #dea555;

  /* Color resumen simulacros */

  --good-sim-score: #91D26E;
  --ok-sim-score: #A1FF58;
  --medium-sim-score: #FFAD5C;
  --bad-sim-score: #FF3F3F;

}

html,
body {
  position: relative;
  background-color: var(--color-background);
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  font-size: 1rem;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

strong {
  color: var(--color-complementary) !important;
}

button.disabled {
  cursor: not-allowed;
  color: var(--font-color);
  background-color: var(--disabled-input-bg-color);
  transition: none;
}

button.disabled:hover {
  cursor: not-allowed;
  color: var(--font-color);
  background-color: var(--disabled-input-bg-color);
  transition: none;
}

/* Scrollbar para Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 12px; /* ancho de la barra lateral */
  background: transparent; /* fondo por defecto transparente */
}

/* Fondo de la barra (track) */
::-webkit-scrollbar-track {
  background: transparent; /* transparente por defecto */
}

/* El "thumb" (el elemento que arrastras) */
::-webkit-scrollbar-thumb {
  background: var(--color-primary); /* rojo semi-transparente */
  border-radius: 6px;
  transition: background 0.2s;
}

/* Al pasar el ratón por encima del thumb */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary); /* verde más fuerte al hacer hover */
}

/* Opcional: track con color al hacer hover en toda la barra */
::-webkit-scrollbar-track:hover {
  background: var(
    --color-primary
  ); /* verde suave cuando pasas sobre el track */
}

/* Scrollbar para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent; /* thumb | track */
}
