.user-score-panel-body {
  height: 50%;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.user-score-panel-button {
  border-radius: 10px;
  height: 80%;
  background-color: var(--color-secondary);
  margin: 0px 20px;
  padding: 0px 15px;
  color: var(--font-color);
  transition: background 0.2s ease, color 0.2s ease;
}

.user-score-panel-button:hover {
  cursor: pointer;
  background-color: var(--bg-default);
  color: var(--extra-color-primary-alt);
}

.user-score-panel-body h3 {
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--type-2-ff);
  color: var(--font-color);
  margin: 20px 0px;
}

.user-score-summary-block {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  gap: 1rem;
}
