.merit-calculator {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 15px;
  background-color: color-mix(in srgb, var(--button-bg-color) 50%, transparent);
  padding: 15px;
  overflow: hidden;
}

.merit-calculator::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/common/AdcWhiteLogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.03; /* ajusta aquí para que casi no se vea */
  z-index: 0;
}

.merit-calculator > * {
  position: relative;
  z-index: 1;
}
.merit-calculator h2 {
  text-align: center;
  font-size: 45px;
  color: var(--font-color);
  font-family: var(--type-3-ff);
  text-transform: uppercase;
  margin: 25px;
}

.merit-calculator-row {
  align-items: center;
  display: grid;
  margin-top: 1rem;
  align-content: center;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  min-width: 900px;
}

.merit-calculator-row input {
  background-color: var(--enabled-input-bg-color);
  outline: none;
  text-align: center;
  border-radius: 5px;
  padding: 2.5px;
}

.merit-calculator input[type="number"]:focus {
  background-color: none;
}

.merit-calculator input:disabled {
  background-color: var(--disabled-input-bg-color);
  color: var(--font-color);
}

.merit-calculator-row button {
  border-radius: 5px;
  padding: 5px 20px;
  background-color: var(--color-complementary);
}

.merit-calculator-row button:hover {
  cursor: pointer;
}

.merit-calculator-row:nth-child(5) button {
  background-color: var(--color-primary);
  color: var(--font-color);
}

.radios-container {
  display: grid;
  margin: 20px 0px;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}

.radios-container fieldset {
  border: 2px solid var(--color-secondary);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 0px;
}

.radios-container fieldset legend {
  margin-top: 20px;
  padding: 0px 15px;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  color: var(--extra-color-secondary);
}

.radios-container fieldset input[type="radio"] {
  margin: 15px 10px 0px 0px;
  accent-color: var(--color-complementary);
}

.radios-container fieldset input[type="radio"]:checked:after {
  color: var(--color-primary);
}

.radios-container fieldset label {
  color: var(--font-color);
}

.merit-calculator-footer {
  color: var(--font-color);
  font-family: var(--type-2-ff);
  font-weight: lighter;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.merit-calculator-footer img {
  margin-left: 20px;
  width: 80px;
}

.help-block {
  background-color: var(--color-complementary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.5rem;
}

.help-block a {
  display: flex;
  align-items: center;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.help-block a:hover {
  color: var(--contact-button-color);
  text-decoration: none;
}

.help-block a svg {
  margin-left: 10px;
}

@media (max-width: 985px) {
  .merit-calculator-row {
    grid-template-columns: 1fr;
    min-width: 100%;
  }
  .delayed-col-span-2 {
    grid-column: span 2;
    background-color: var(--bg-color-final-score-important) !important;
  }
  .radios-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .merit-calculator::before {
    background-size: cover;
  }
}
